<div>
<span class="info-route-highlight fa fa-crosshairs fa-lg"></span>&nbsp;<span class="info-route-list-index"></span>. {{ instruction }} <span class="info-route-distance">( {{ distance }} 米 )</span>
</div>