<div class="panel panel-primary">
  <div class="panel-heading info-meta-panel-heading">路线基本信息</div>
  <!--div class="panel-body">
    <p></p>
  </div-->
  <table class="table info-meta-panel-table">
  	<thead>
	  		<th><span class="fa fa-road fa-lg"> 里程</span></th>
	  		<th><span class="fa fa-clock-o fa-lg"> 时间</span></th>
	  		<th><span class="fa fa-fire fa-lg"> 油耗</span></th>
	  		<th><span class="fa fa-rmb fa-lg"> 油费</span></th>
  	</thead>
  	<tbody>
  		<tr>
  			<td>{{ distanceInKM }}<span class="info-unit">公里</span></td>
  			<td>{{ hour }}<span class="info-unit">小时</span> {{ minute }}<span class="info-unit">分</span></td>
  			<td>{{ gasConsumption }}<span class="info-unit">升</span></td>
  			<td>{{ gasSpending }}<span class="info-unit">元</span></td>
  		</tr>
  	</tbody>
  </table>
</div>