<div id="info-container" class="well ui-widget-content">
	<div id='info-title'></div>
	<div id='info-content'></div>
</div>
<div >
<div class="btn-group btn-group info-btn-grp info-btn-group" role="group">
  <div class="btn-group" role="group">
    <button id="info-toggle" class='btn btn-primary fa fa-info-circle'  title="路线信息"></button>
  </div>
  <div class="btn-group" role="group">
    <button id="info-resize" class="btn btn-primary fa fa-chevron-circle-up"></button>
  </div>
</div>
</div>