/* Bootstrap */
@import "../bower/bootstrap/less/bootstrap.less";
@icon-font-path: '../bower/bootstrap/fonts/';
/*Font Awsome*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/*Pre load AMap CSS */
/*@import url(http://cache.amap.com/lbs/static/main.css);

/**/


#menu{
	position:absolute;
	z-index: 1;
	top:10px;
	left:10px;
	opacity: 0.8;
 	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;	
}

#mapContainer{
	height:100%
	;
}

#menu:hover{
	opacity:1;
}

#menu-computing{
	display:none;
}

.menu-address-label{
	background-color: #337AB7;
	color:white;
}

.menu-seperator{
	height:10px;
}

.menu-suggestion-list{
	position:absolute;
	width:100%;
	z-index:100;	
}

.menu-suggestion-list-container li:nth-child(even){
	background-color: #F5F5F5;
}

.menu-suggestion-list-container li:hover{
	cursor: pointer;
	font-weight: bolder;
	background-color: #E8F2FF;
}

.menu-suggestion-list-container li{
	font-size: 12px;
	padding:5px 5px 5px 5px;
}

.menu-suggestion-item-district{
	color:#C1C1C1
}

.menu-vehicle-type{
	font-weight: bolder
}

.menu-vehicle-selected{
	color:#FF6858;
}

.menu-vehicle-selected:hover{
	color:#FF6858;
}

.menu-form-addon{
	min-width:120px;
	text-align: left;
}

.menu-seperator-sm{
	height:1px;
}

.menu-unit{
	font-size: 9px;
	font-weight: bolder;
}

.menu-short{
	width: 200px;
	
}

#info{
	opacity: 0.9;
	position:absolute;
	z-index: 1;
	bottom:30px;
	right:10px;	
}

#info-container{
	height:400px;
	right:0px;
	-moz-box-shadow: 5px 5px 5px rgba(128, 128, 128, .3);
  	-webkit-box-shadow: 5px 5px 5px rgba(128, 128, 128, .3);
  	box-shadow: 5px 5px 5px rgba(128, 128, 128, .3);
  	overflow-y:scroll;
  	display:none;
}

#info-content{
	margin-top:5px;
}

.info-btn-grp{
	position:absolute;
	z-index: 1;
	bottom:-17px;
	right:12px;	
}

.info-route-list-item{
	font-size: 12px;
	padding:5px 5px 5px 5px;
}

.info-route-list-item:hover{
	font-weight: bold;
	background-color: #E8F2FF;
}

.info-route-distance{
	font-size: 10px;
	font-weight: bolder;
}

.info-meta-panel-heading{
	font-size: 12px;
	font-weight: bold;
}

.info-meta-panel-table thead th{
	font-size: 9px;
}

.info-unit{
	font-size: 10px;
	font-weight: bold;
}

.info-btn-group{
	width:80px;
}

.info-route-highlight{
	color: rgb(51, 122, 183);
	cursor:pointer;
}

.info-route-list-help{
	font-size: 8px;
	font-weight: normal;
}

#logo{
	font-weight: bolder;
	font-style: italic;
	position: absolute;
	bottom: 12px;
	left: 70px;
}

.logo-version{
	font-size: 10px;
}

