<ul class="nav nav-tabs cms-menu">
  <li role="presentation" class="active"><a href="#">道路信息管理</a></li>
  <li role="presentation"><a href="#">地区柴油价格管理</a></li>
  <li role="presentation"><a href="#">账户管理</a></li>
  <h5 class='pull-right cms-menu-logo'>Arkab <span class='cms-menu-sub-logo'>♐ Sagittarius CMS</span></h5>
</ul>