<div>
<div class="input-group input-group-sm">
	<span class="input-group-btn">
		<button class="btn btn-default fa fa-crosshairs info-route-highlight " type="button"></button>
	</span>
	<input type="text" class="form-control vehicle-weight" placeholder="限重">
	<span class="input-group-btn">
        <button class="btn btn-default fa fa-ban ban-road" type="button"></button>
	</span>
    </div><span class="info-route-list-index"></span>. {{ road }} <span class="route-instruction">( {{ instruction }} )</span>
</div>