/* Bootstrap */
@import "../bower/bootstrap/less/bootstrap.less";
@icon-font-path: '../bower/bootstrap/fonts/';
/*Font Awsome*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body{
	overflow-x: hidden;
}

#mapContainer{
height:100%;
width:100%;
}

.cms-menu{
	margin-top: 10px;
	padding-left:5px;
}

.cms-menu-logo{
	margin-right: 30px;
	font-style: italic;
	font-weight: bolder;
}

.cms-menu-sub-log{
}

.route-left-menu{
	margin: 5px 0 0 5px;
	width:300px;
}

#routes-list{
	overflow: auto;
	overflow-x: hidden;
	width:100%;
	height:503px;
}

.route-right-content{
	margin-top: 5px;
	height:600px;
	width:600px;
	border:1px solid gray;
}

.menu-seperator{
	height:5px;
}

.menu-suggestion-list{
	position:absolute;
	width:100%;
	z-index:100;	
}

.menu-suggestion-list-container li:nth-child(even){
	background-color: #F5F5F5;
}

.menu-suggestion-list-container li:hover{
	cursor: pointer;
	font-weight: bolder;
	background-color: #E8F2FF;
}

.menu-suggestion-list-container li{
	font-size: 12px;
	padding:5px 5px 5px 5px;
}

.menu-suggestion-item-district{
	color:#C1C1C1
}

#menu-computing{
	display:none;
}

.info-route-list-item{
	font-size: 12px;
	padding:5px 5px 5px 5px;
}

.info-route-list-item:hover{
	font-weight: bold;
	background-color: #E8F2FF;
}

.route-instruction{
	font-size: 11px;
}

.ban-road{
	color:red;
	cursor: pointer;
}
